:root{
	--color-text: #464646;
  }
  * {
	  padding: 0;
	  margin: 0;
	  box-sizing: border-box;
	}
  html {
	  color: #000;
	  font-size: 16px;
	  font-family: "Open Sans", sans-serif;
	  background-color: #ccc;
	}
  
  
  .clear{
	  clear: both;
  }
  .text-white{
	  color: #fff !important;
  }
  
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .row{
	  margin-left: -24px;
	  margin-right: -24px;
  }
  .row::after{
	  content: "";
	  display: block;
	  clear: both;
  }
  .col-left{
	  float: left;
	  padding: 24px;
  }
  
  .col-right{
	  float: right;
	  padding: 24px;
  }
  
  #modal [class*="col-"] {
    float: left;
    padding: 0 24px;
  }

  .mt-8{
	  margin-top: 8px!important;
  }
  .mt-16{
	  margin-top: 16px!important;
  }
  .mt-32{
	  margin-top: 32px!important;
  }
  
  .space{
	position: relative;
	margin-left: -32px;
	margin-right: -32px;
	content: "";
	height: 32px;
	background-color: #fff;
  }
  
  .blur{
	color: #aaa!important;
  }
  /* ............................................... */
  .app{
    height: 100%;
  }
  
#header {
	background-color: #fff;
	padding: 48px 0;
	text-align: center;
}
  
#header h1{
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 4px;
	color: #000;
}
#header h2 {
	font-size: 20px;
  font-weight: 100;
  letter-spacing: 9px;
	color: var(--color-text);
}

  
#menu {
	background-color: #555555;
	padding: 32px 32px;
	height: 100%;
}
.menu-header {
	text-align: center;
	padding: 120px 0 132px;
}
  
.menu-header img{
	width: 220px;
	height: 220px;
	border-radius: 50%;
}
  
.menu-header .avatar{
  position: absolute;
  top: -300%;
  left: 0; 
  right: 0;
  bottom: 0;
}
  
  
  
  .menu-item{
	  padding: 12px 0;
  }
  .menu-item h3{
	  padding: 32px 0 16px;
  }
  
  .contact-navbar{
	padding: 0;
  }
  
  .contact-navbar li{
	list-style: none;
	padding: 8px 0;
  }
  
  .contact-navbar li i {
	font-size: 18px;
	width: 24px;
	text-align: left;
  }
  
  
  .item-social {
	display: flex;
  }
  .i{
	padding-right: 16px;
  }
  
  .i img{
	width: 20px;
  }
  .i-social img{
	border-radius: 8px;
  }
  
  
  
  .contact-navbar-2{
	display: flex;
	align-items: center;
  }
  
  .contact-navbar-2>.contact-navbar.name{
	flex: 1;
  }
  .contact-navbar-2>.contact-navbar.star{
	flex: 1;
  }
  .star-list{
	text-align: right;
  }
  
  .star-list i{
	font-size: 12px!important;
	width: 12px!important;
  }

  .contact-navbar-2>.contact-navbar.hobby{
	flex: 1;
  }
  
  
  
  
  #content {
	padding: 0 24px 24px;
	background-color: #fff;
  }
  
  .container-item h3{
	color: #70603a;
	padding-top: 32px;
	padding-bottom: 16px;
  }
  
  .item-introduce h4{
	padding-bottom: 16px;
  }
  
  .container-item p{
	text-align: justify;
  }


  /* For mobile */
  [class*="col-"] {
	width: 100%;
  }

    /* MODAL */
#modal {
  /* display: none; */ /* mặc định được ẩn đi */
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fab17a , #f7c76c);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.spacer {
  margin-top: 12px;
}
.form {
  width: 100%;
  height: 100%;
  padding: 24px;
  background: #fff;
  border-radius: 2px;
  margin: 0;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .heading {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
.form-group {
  display: flex;
  margin-bottom: 4px;
  flex-direction: column;
}
.form-group.gender{
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.form-label {
  font-weight: 500;
  line-height: 1.8rem;
  font-size: 16px;
}

.form-control {
  height: 28px;
  padding: 8px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 12px;
}
.form-control.radio{
  width: 16px;
  background-color: #ccc;
  margin-right: 12px;
}

.gender-value{
  font-size: 14px;
}

.form-submit {
  height: 30px;
  outline: none;
  background-image: linear-gradient(to right, #fab17a , #f7c76c);
  margin-top: 12px;
  padding: 6px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

  /* For desktop: */
@media screen and (min-width: 1024px)  {
  /* modal */
  .main{
    width: 900px;
    height: 90%;
  }
  .form{
    padding: 32px 24px;
    height: 80%;
  }
  .spacer {
    margin-top: 16px;
  }
.form .heading {
    font-size: 32px;
  }
.form-group {
    margin-bottom: 8px;
  }
.form-label {
    font-weight: 600;
    padding-bottom: 6px;
    font-size: 1.2rem;
  }

.form-control {
    height: 32px;
    padding: 12px;
    font-size: 1rem;
  }
.form-control.radio{
    width: 16px;
}
.gender{
  margin-bottom: 0px;
}
.gender-value{
    font-size: 1rem;
}

.form-submit {
    height: 36px;
    padding: 12px;
    font-size: 18px;
    margin-top: 8px;
  }

  /* width col */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
  
  @media only screen and (max-width: 1023px) and (min-width: 768px) {

  /* modal */
.main{
    width: 100%;
  }
.form{
    padding: 24px;
  }
.spacer {
    margin-top: 36px;
  }
.form .heading {
    font-size: 36px;
  }
.form-group {
    margin-bottom: 16px;
  }
.form-label {
    font-weight: 600;
    padding-bottom: 6px;
    font-size: 1.4rem;
  }

.form-control {
    height: 50px;
    padding: 12px;
    font-size: 1.2rem;
  }
.form-control.radio{
    width: 20px;
}
.gender{
  margin-bottom: 0px;
}
.gender-value{
    font-size: 1.2rem;
}

.form-submit {
    height: 60px;
    padding: 12px 16px;
    font-size: 24px;
  }
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-height: 600px) {
    .form{
      height: 100%;
    }
  }
  @media only screen and (max-height: 601px) {
    .form{
      height: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    .app{
      width: 768px;
      height: fit-content;
      margin: auto;
      }
    #header{
      padding: 128px 32px 100px;
    }
    #menu{
      height: 1340px;
    }
      
    #content{
      height: 1038px;
    }
    #header h1{
      font-size: 38px;
    }
    #header h2 {
      font-size: 26px;
      letter-spacing: 11px;
    }
    #content {
      padding: 0 32px 70px;
    }
  
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }
    
    @media only screen and (max-width: 767px) and (min-width: 600px) {
    #content {
      padding: 120px 24px 24px;
    }
    #menu, #content{
      height: 1340px;
    }
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    }